
  <div class="navbar navbar-header bg-light ">
   
   <h1 id= mywebsite-2 class="Mywebsite-center" >FLS</h1>
   <br>
   <h6 id= mywebsite-2>Luxury Transportation</h6>
   <br>
  <a class="navbar-brand" routerlink="#">Home
  </a>
  <a class="navbar-brand" routerlink="#">Service</a>
  <a class="navbar-brand" routerlink="#">Fleet</a>

 </div>
 <div class="col-sm-4">
 <div class="container-fluid">
  
    <div class="card resize">
      <div class="card-body">
       <h4 class="card-title">Lincoln MKT</h4>
      </div>
     
     <img class="resize" src="http://www.cadillac.com/content/dam/cadillac/na/us/english/index/vehicles/2018/crossovers-suvs/escalade-esv/gallery/lm/vehicles-escalade-esv-gallery-exterior-02-l-m.jpg?imwidth=1200">
     <ul>
       <li>Up to 6 Passengers</li>
       <li>7 Piece Luggage Capacity</li>
       <li>Limo Tinted Windows</li>
       <li>Luxurious Leather Interior</li>
     </ul> 
   </div>
     <br>
	<br>
	<br>
	<br>
	

     <div class="card resize">
      <div class="card-body">
       <h4 class="card-title">Lincoln MKT</h4>
      </div>
     
     <img class="resize" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUfaBlP42RnYBsPl2K5sZv5U_x-b8_Ajs8VIrfraxrQVpscoy0Jw">
     <ul>
       <li>Up to 3 Passengers</li>
       <li>7 Piece Luggage Capacity</li>
       <li>Limo Tinted Windows</li>
       <li>Luxurious Leather Interior</li>
     </ul>
  </div>


<br>
<br>
<br>
<br>

     
           
  
    <div class="col-sm-6"> 
     <div class="card resize">
      <div class="card-body">
       <h4 class="card-title">10-14 Passenger Shuttle Van</h4>
      </div>
      <img class="card-img-bottom" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLCr50tMDr1MHyP715tzg263vEdTKXi74P2D-cEzXXhMBedsHEBA">
       <ul>
        <li>Up to 6 Passengers</li>
        <li>7 Piece Luggage Capacity</li>
        <li>Limo Tinted Windows</li>
        <li>Luxurious Leather Interior</li>
       </ul>
     </div>


<br>
<br>
<br>
<br>
<br>
<br>



<nav class="navbar navbar-dark bg-primary fixed-bottom ">
  <div class="footer1">
    <h5 class="blog-center2">Copyright &copy; 2018 MyHomepage</h5>
  </div>
</nav>




